<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="google" content="notranslate" />
        <meta name="robots" content="noindex,nofollow" />

        <title>
            Pladuch
        </title>

    </head>

    {% block js %}
        <script type="text/javascript" src="{{ asset('assets/js/jquery-1.11.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/bootstrap.js') }}"></script>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/contents.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/pladuch.back.css') }}">
    {% endblock %}

    <body>

        {% include 'PladuchBackBundle:sga/panel:logo.html.twig' %}

        {% include 'PladuchBackBundle:sga/panel:panel.html.twig' %}

        <div class="main">
            {% block pladuch_back_content %}
            {% endblock %}
        </div>

        {% include 'PladuchBackBundle:sga/panel:footer.html.twig' %}

    </body>

</html>
